ul {
  list-style-position: inside;
  background-color: #fec;
  margin: 0;
  padding: 10px;
}

ol {
  list-style-type: lower-greek;
  background-color: #5ac;
  margin: 0;
  padding: 10px;
}

li {
  list-style-position: inside;
  border: 1px solid #aa0000aa;
  border-radius: 5px;
  background-color: #fefefe;
  margin: 5px;
  padding: 10px 17px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
}

a:hover {
  list-style-image: url(./assets/icons/success.png);
}
