.links {
  /* :link padrão */
  text-decoration: none;
  color: #bc2035;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 2px solid #bc2035;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

/* .links:hover {
  background-color: #bc2035;
  color: white;
} */

.links:active {
  background-color: #bc2035;
  color: white;
}

.links:visited {
  border-color: gray;
  color: gray;
}

/* 
.links:visited {
  color: white;
  background: #bc2035;
} 
*/
