h1 {
  color: gray;
}

#paragrafos {
  background-image: url(./image/backgrounds/fireworks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.sub-div {
  background: #cecece;
}

#titulo {
  color: #9900ff88; /*rgba(151, 0, 324, 0.5)*/
}

.texto-dourado {
  color: goldenrod;
}

#mm {
  background-color: red;
  width: 5mm;
  height: 5mm;
}

#cm {
  background-color: green;
  width: 1cm;
  height: 1cm;
}

#in {
  background-color: blue;
  width: 1in;
  height: 1in;
}

#px {
  background-color: blueviolet;
  width: 10px;
  height: 10px;
}

#pt {
  background-color: burlywood;
  width: 10pt;
  height: 10pt;
}

#pc {
  /*Equivale 1pc = 12pt*/
  background-color: salmon;
  width: 1pc;
  height: 1pc;
}

/* .container {
  font-size: 24px;
  width: 300px;
  background-color: red;
} */

/* em: Relativo ao tamanho da fonte */
/* .inside {
  font-size: 2em;
  width: 1em;
  background-color: blue;
} */

/* html {
  font-size: 20px;
} */

/*rem: Relativo ao elemento raiz*/
/*.inside {
  font-size: 1rem;
} */

/* vh, vw, vmin, vmax */
.container {
  width: 50vw;
  background-color: red;
}

.inside {
  width: 80%;
  background-color: blue;
}
